body
{
background-color:blue;
}

h1
{
  
  color:rgb(255, 102, 0);
  background-color: cornsilk;
}

#show_sketch
{
  float:right;
}
#sketch_dra{
    color: brown;
}
#score{
    font-size: 15px;
    margin-left: 16px;
}

#time{
    font-size: 16px;
    float:right;
    margin-right: 16px;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px; 
    animation-iteration-count: infinite;
    
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}


p
  {
    padding-top:10px;
    font-size:25px;
    
  }